Laptop/__pycache__/ui_RoutePlanner.cpython-310.pyc
Laptop/__pycache__/WayPointDrawWidget.cpython-310.pyc
Laptop/__pycache__/waypointdrawwidget.cpython-310.pyc
Pi/__pycache__/completeInstruction.cpython-310.pyc
Pi/__pycache__/completeInstruction.cpython-310.pyc
Pi/__pycache__/completeInstruction.cpython-310.pyc
Laptop/__pycache__/ui_MainWindow.cpython-310.pyc
Pi/__pycache__/completeInstruction.cpython-310.pyc
Laptop/__pycache__/ui_MainWindow.cpython-310.pyc
Laptop/__pycache__/OpenGLWidget.cpython-310.pyc
Laptop/__pycache__/commLaptop.cpython-310.pyc
Laptop/__pycache__/ui_MainWindow.cpython-310.pyc
Laptop/__pycache__/commLaptop.cpython-310.pyc
Pi/__pycache__/completeInstruction.cpython-310.pyc
Laptop/canon.stl
Laptop/__pycache__/commLaptop.cpython-310.pyc
Laptop/__pycache__/commLaptop.cpython-310.pyc
Laptop/__pycache__/roveranimation.cpython-310.pyc
Pi/__pycache__/completeInstruction.cpython-310.pyc
Laptop/__pycache__/ui_MainWindow.cpython-310.pyc
Laptop/__pycache__/ui_MainWindow.cpython-310.pyc
